@font-face { 
    font-family: Flipbash;
    src: url('fonts/Flipbash.ttf');
}

a {
    text-decoration: none;
    cursor: pointer;
}

body, html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
}

footer {
	clear: both;
	width: 100%;
	background-color: #000;
	height: 40px;
	border-top: 3px solid #333;
}

nav {
	width: 100%;
	height: 50px;
	background-color: #000;
	border-bottom: 3px solid #333;
    color: white;
    font: 16px Flipbash;
}

nav a {
    color: white;
}

h1 {
	font: 28px Flipbash;
	color: #fff;
	padding: 5px;
	padding-top: 0px;
	padding-left: 20px;
	margin: 0;
    float: left
}

h2 {
	font: 24px Flipbash;
	color: #fff;
	padding: 5px 10px;
	margin: 0;
}

h3 {
    font: 28px FLipbash;
    color: #fff;
    padding: 5px 10px;
    margin: 0;
    clear: both;
}

h4, h5 {
    margin: 0;
    font: 24px Flipbash;
}

h4 {
    padding-left: 110px;
    color: #fff;
}

h5 {
    padding-left: 100px;
    padding-top: 5px;
    color: #0f0;
}

h6 {
    text-align: center;
    width: calc(100% - 20px);
    margin: 0;
    padding: 10px;
    color: #0f0;
    font: 32px Flipbash;
}

input {
    font: bold 18px 'Tahoma';
	background-color: #000;
	border-radius: 10px;
	border: 0;
	border-bottom: 2px solid #666;
	border-left: 2px solid #666;
	color: white;
	margin-right: 20px;
    margin-top: 10px;
    height: 30px;
	padding-left: 5px;
    
    transition: background-color 600ms, color 600ms;
}

nav input {
	font: bold 18px 'Tahoma';
	background-color: #000;
	border-radius: 10px;
	border: 0;
	border-bottom: 2px solid #666;
	border-left: 2px solid #666;
	color: white;
	margin-right: 20px;
    margin-top: 10px;
    height: 30px;
    float: right;
	padding-left: 5px;
	width: 250px;
    
    transition: background-color 600ms, color 600ms;
}

nav button {
    font: bold 18px Tahoma;
    background-color: #222;
    border-radius: 10px;
    border: 2px solid #333;
    color: white;
    margin-right: 20px;
    margin-top: 10px;
    height: 30px;
    float: right;
	padding-left: 5px;
    width: 125px;
    cursor: pointer;
    
    transition: background-color 600ms, color 600ms;
}

input:hover, button:hover {
    background-color: #eee;
    color: #000;
}

input:focus, button:focus {
    outline: none;
}

.robot {
    color: white;
    font: 24px Flipbash;

    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    
    border-radius: 20px;
    border: 2px solid #999;
    margin: 10px;
    padding: 5px;
    padding-top: 80px;
    width: calc(100% - 30px);
    height: 40px;
    
    background-color: #000;
    transition: background-color 600ms;
}

.selected {
    background-color: #f90;
}

.stat {
    width: 300px;
    height: 90px;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
}

.user {
    color: #0ff;
}

#tools {
    clear: both;
	float: left;
	background-color: #222;
	border-right: 3px solid #333;
	width: 250px;
	height: calc(100% - 86px);
    overflow-y: auto;
}

#stats {
	float: left;
	background-color: #222;
	width: calc(100% - 253px);
	height: calc(100% - 86px);
    overflow-y: auto;
}

#stats canvas {
    margin: 20px;
    width: calc(100% - 40px);
    height: 260px;
}

#granama {
    width: 100%;
    height: 100%;
}

#chat {
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    height: calc(100% - 60px);
    background-color: black;
    color: white;
    font: bold 14px Tahoma;
    border: 3px solid #666;
    display: none;
}

#chat h1 {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

#form {
    width: 100%;
    height: calc(100% - 86px);
    background-color: #222;
}

#chat input {
    width: 100%;
}

#text {
    height: calc(100% - 110px);
    overflow: auto;
    border-radius: 10px;
	border: 0;
	border-bottom: 2px solid #666;
	border-left: 2px solid #666;
    padding: 10px;
}

#loginForm {
    width: 300px;
    padding: 20px;
    background-color: #000;
    border: 3px solid #666;
    border-radius: 25px;
    height: 280px;
    
    position: relative;
    top: calc(50% - 163px);
    left: calc(50% - 173px);
}

#loginForm h4 {
    padding-left: 0;
    text-align: center;
    width: 100%;
}

#loginForm a {
    background-color: #222;
    color: #fff;
    border-radius: 25px;
    border: 2px solid #666;
    font: 18px Flipbash;
    padding: 5px 30px;
    display: block;
    width: 65px;
    position: absolute;
    bottom: 20px;
    
    transition: background-color 600ms, color 600ms;
}

#loginForm a:hover {
    background-color: #eee;
    color: #000;
}

#loginForm label {
    color: white;
    font: 18px Flipbash;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
}

#loginForm input[type="text"], #loginForm input[type="password"] {
    width: calc(100% - 10px);
}

#loginForm input[type="checkbox"] {
    width: 18px;
    position: relative;
    vertical-align: bottom;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    overflow: hidden;
    top: -1px;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 2px solid #aaa;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #aaa;
}