<!DOCTYPE html>
<html>
	<head>
		<title>Granama</title>
		<link rel="stylesheet", type="text/css", href="style.css"></link>
	</head>
	<body>
		<section id="bgArea">
			<p>Granama</p>
			<section id="loginBox">
				<h1>Login</h1>
				<input id="user" type='text', name='username', placeholder='username'></input>
				<input id="pass" type='password', name='pass', placeholder='password'></input>
				<input id="pass2"type='password', name='pass2', placeholder='confirm password' style="display:none;"></input>
				<input id="signup" type="checkbox" name="signup"></input>
				<label for="signup">Sign Up?</label>
				<a id="formSubmit" href="#">Submit</a>
			</section>
		</section>
		<footer></footer>
	</body>
</html> 