html(lang="en")
  head
    meta(charset="utf-8")
    title Granama
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    link(rel="shortcut icon", href="/assets/favicon.ico")
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
  block body
  block scripts