extends ./base.jade
block body
  #game
    canvas#granama(style='cursor: none')  
    #chat
      h1 Chat     
      hr    
      #text      
      input#input(type='text')
block scripts
  script(src='./socket.io/socket.io.js')    
  script(src='/assets/js/lib/loader.js')    
  script(src='/assets/js/main.js')